<%- include("header") %>

    <h1>
        TodoList - v1
    </h1>
    <p>
        Hello, this is the first version of the todolist. Hope it helps to track your upcoming tasks.
    </p>
    <%- include("footer") %>